body { 
	margin:0; padding:0; 
}

h2, h3 {
  /*margin: 10px;*/
  font-size: 14px;
}

h3 {
  font-size: 1em;
  margin: 0 0 0 0;
}

p {
  font-size: 12px;
  text-align: left;
  margin: 0 0 0 0;
}

h1 {
	line-height: 1;
	margin-top: 5px;
}

#map { 
	position:absolute; top:0; bottom:0; width:100%;
}

.map-overlay {
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	position: absolute;
	width: 25%;
	top: 0;
	left: 0;
	padding: 5px;
}
 
.map-overlay .map-overlay-inner {
	background: rgba(255, 255, 255, 0.8);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;

}
 
.map-overlay h2 {
	line-height: 48px;
	display: block;
	margin: 0 0 5px;
}
 
.map-overlay .legend .bar {
	height: 10px;
	width: 100%;
	background: linear-gradient(to right, #b2182b,#ef8a62,#fddbc7, #f7f7f7,#d1e5f0,#67a9cf, #2166ac);
}
 
.map-overlay input {
	background-color: transparent;
	display: inline-block;
	width: 100%;
	position: relative;
	margin: 0;
	cursor: ew-resize;
}

.map-popup {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}


#features {
  bottom: 0;
  height: 100px;
  margin-top: 20px;
}


.btn-primary, .btn-primary.active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #67a9cf;
    background-image: none;
    border-color: #adadad;
}

.btn-primary:hover, .btn-default.active:hover {
    color: #ffffff;
    background-color: #2166ac;
    border-color: #adadad;
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
#slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background-color: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #67a9cf; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #67a9cf; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

input[type=range]::-moz-focus-outer {
    border: 0;
    }

.small {
	visibility: hidden;
}

.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}




@media only screen and (max-width: 800px) {
	h1 {
		font-size: 18px;
	}
	.map-overlay {
		width: 30%;
	}

	.small {
	    visibility: visible;
	    margin-top: -20px;
	}

	.big {
		visibility: hidden;
	}

	#features {
		height: 80px;
	}

	#features h2 {
		line-height: 16px;
	}
 }



@media only screen and (max-width: 415px) {
	.map-overlay {
		width: 40%;
	}

	.small {
	    visibility: visible;
	    font-size: 14px;
	    margin-top: -30px;
	}


 }


@media only screen and (max-width: 375px) {
	#features {
		height: 60px;
	}

	h1 {
		font-size: 16px;
	}

	h2 {
		font-size: 12px;
		line-height: 12px;
	}

	#features h2 {
		font-size: 12px;
		line-height: 12px;
	}

	.map-overlay {
		width: 40%;
	}

	.small {
		font-size: 12px;
	    visibility: visible;
	    margin-top: -30px;
	}

	.big {
		visibility: hidden;
	}
 }


 /* Tooltip container */
/*.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
/*}*/

/* Tooltip text */
/*.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;*/
 
  /* Position the tooltip text - see examples below! */
/*  position: absolute;
  z-index: 1;
}*/

/* Show the tooltip text when you mouse over the tooltip container */
/*.tooltip:hover .tooltiptext {
  visibility: visible;
}*/

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}
.tooltip span {
  visibility: hidden;
  width: 10em;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 9;
  top: -1em;
  left:  100%;
  margin-left:1em;
  opacity: 0;
  transition: opacity 1s;
}
.tooltip span::after {
  content: "";
  position: absolute;
  top: 1.5em;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip input {
  display:none;
}
.tooltip input:checked+span {
  visibility: visible;
  opacity: 1;
}

